<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
  <div class="overlay-container">
    <%= cl_image_tag product.photo.url(:main_caroussel) %>
  </div>
  <div class="body">
    <%= link_to brand_product_path(product.brand.name, product.year, product.model, product) do %>
      <h3><%= product.brand.name.capitalize %> <%= product.model %> <%= product.year %></h3>               
    <% end %>
  </div>
</div>