<div class='container'>
  <%= simple_form_for @product, html: {id: "form-index"} do |f|%>
    <%= f.input :brand_id, collection: Brand.all, prompt: "Choisissez la marque" %>
    <%= f.input :model %>
    <%= f.input :year %>
    <%= f.input :gear_type, collection: ['Aile', 'Twin Tip', 'Surf', 'Foil', 'Harnais'], prompt: "Type de matos" %>
    <% # f.input :type, ['Aile', 'Twin Tip', 'Surf', 'Foil', 'Harnais'] %>
    <%= f.input :photo %>
    <%= f.submit %>
  <% end %>
</div>