

<!-- main start -->
<!-- ================ -->
<div class="main col-md-12">

  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title text-center"><%= @product.brand.name.capitalize %> <%= @product.model.capitalize %> <%= @product.year %></h1>
  <!-- page-title end -->

  <div class="row">
    <div class="col-md-4 col-lg-5">
      <!-- pills start -->
      <!-- ================ -->
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="images"><i class="fa fa-camera pr-5"></i> Photo</a></li>
        <li><a href="#pill-2" role="tab" data-toggle="tab" title="video"><i class="fa fa-video-camera pr-5"></i> Video</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content clear-style">
        <div class="tab-pane active" id="pill-1">
          <div class="owl-carousel content-slider-with-thumbs mb-20">
            <div class="overlay-container overlay-visible">
              <%= cl_image_tag @product.photo.url(:main_caroussel) %>
              <a href="<%= cl_image_path @product.photo %>" class="owl-carousel--popup-img overlay-link"><i class="icon-plus-1"></i></a>
            </div>
            <% @product.galleries.each do |photo| %>
              <div class="overlay-container overlay-visible">
                <%= cl_image_tag photo.photo.url(:main_caroussel) %>
                <a href="<%= cl_image_path photo.photo %>" class="owl-carousel--popup-img overlay-link" ><i class="icon-plus-1"></i></a>
              </div>
            <% end %>
          </div>
          <% if !@product.galleries.empty? %>
            <div class="content-slider-thumbs-container">
              <div class="owl-carousel content-slider-thumbs">
                <div class="owl-nav-thumb">
                  <%= cl_image_tag @product.photo.url(:small_caroussel) %>
                </div>

                <% @product.galleries.each do |photo| %>
                  <div class="owl-nav-thumb">
                    <%= cl_image_tag photo.photo.url(:small_caroussel) %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="tab-pane" id="pill-2">
          <div class="embed-responsive embed-responsive-16by9">
            <%= @product.video.html_safe if @product.video %>
          </div>
        </div>
      </div>
      <!-- pills end -->
      <hr class="mb-10">
      <div class="clearfix mb-20">
        <span>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star text-default"></i>
          <i class="fa fa-star"></i>
        </span>
        <a href="#" class="wishlist"><i class="fa fa-heart-o pl-10 pr-5"></i>Wishlist</a>
        <ul class="pl-20 pull-right social-links circle small clearfix margin-clear animated-effect-1">
          <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
          <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
          <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 col-lg-7 pv-30">
      <h2>Description</h2>
      <p><%= @product.description %></p>
      <h4 class="space-top">Specifications</h4>
      <hr>
      <dl class="dl-horizontal">
        <dt>Marque</dt>
        <dd><%= link_to @product.brand.name.capitalize, brand_path(@product.brand.name) %></dd>
        <dt>Model</dt>
        <dd><%= @product.model %></dd>
        <dt>Année</dt>
        <dd><%= @product.year %></dd>
        <dt>Tailles (m2)</dt>
        <dd>
          <% @product.sizes.each do |size_obj| %>
            <%= size_obj.size.to_s + ' /' %>
          <% end %>
        </dd>
        <dt>Programme</dt>
        <dd><%= @product.programme.capitalize %></dd>
        <dt>Niveau recommandé</dt>
        <dd><%= @product.min_level %> /3</dd>
      </dl>
    </div>
  </div>
</div>
<% content_for :section do %> 
  <%= render 'shared/reviews', product: @product %>
<% end %>
<!-- main end -->
